body {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin-top: 120px;
}

a:link { color: #23238e; }
a:visited { color: #6b238e; }
a:hover { color: #7093db; }
a:active { color: #871f78; }

a.current { font-weight: bold; }

h1 {
  color: #545454;
  font-size: 2em;
}

h2 {
  color: #545454;
  font-size: 1.5em;
}

h2.banner {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

h3 {
  color: #545454;
  font-size: 1.2em;
  margin: 0px;
  display: inline;
}

p {
  font-family: Garmond, serif; 
}

label {
  display: inline-block;
  text-align: left;
  font-weight: bold; 
}

section p {
  font-family: Arial, sans-serif;
}

ol li {
  font-family: Garmond, serif; 
  white-space: nowrap;
}

section.filter {
  position: fixed;
  top: 54px;
  left: 0px;
  width: 180px;
  color: #000000;       
  font-size: 0.75em;
  background: #f4f4d6;
  border-bottom: 1px solid #000000; 
  border-right: 1px solid #000000; 
  padding: 5px;
  z-index: 2;
}

section.search {
  position: fixed;
  top: 54px;
  left: 190px;
  width: 100%;
  color: #000000;       
  font-size: 0.75em;
  background: #f4f4d6;
  border-bottom: 1px solid #000000;
  padding: 5px;
  z-index: 3;
}

section.search input[type="text"] {
  border-radius: 15px;
  border:solid 1px black;
  padding: 5px;
  width: 40%;
}

section.main {
  position: relative;
  top: 0px;
  left: 200px;
  width: 80%;
  background: #ffffff;
  padding: 5px;
  z-index: 1;
}

section.main table, td {
  padding: 5px;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-collapse: collapse;
}

section.main tr:nth-child(even) {
  background-color: #f4f4d6;
}

section.main td a {
  color: #000000;
}

section.main th {
  color: #ffffff;
  background-color: #111155;
  border: 1px solid #000000;
}

section.main a {
  color: #ffffff;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 49px;
  margin: 0px 0px 49px 0px;
  background: url(../images/pitt-logo-bluebkg.gif) left top no-repeat #111150;
  border-bottom: 5px solid #f4f4d6; 
  z-index: 2;
}

nav { padding:2px 2px 2px 5px; }

nav a { text-decoration: none; }

div.box {
  border: 1px solid #a3bddd;
  padding: 5px;
  margin: 0px;
}

span.money {
  color: #008000;
  font-weight: bold;
  margin: 20px;
}

span.title {
  font-weight: bold;
  margin: 20px;
}

span.calendar {
  margin: 20px;
  text-align: right;
}
